@font-face {
  font-family: "Zona Pro";
  src: url("../assets/fonts/ZonaPro-ExtraLight.otf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("../assets/fonts/ZonaPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("../assets/fonts/ZonaPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Zona Pro";
  src: url("../assets/fonts/ZonaPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}