/* ============= TYPOGRAPHY ============= */


/* ============= Fonts ============= */
$main-font: "Zona Pro";


/* ============= Weights ============= */
$font-light: 100;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
