@use "../abstracts" as *;

.lo_wrapper {
  height: 100svh;
  width: 100%;

  background: $blue-radial;

  display: flex;
}

.lo_board-wrapper {
  height: 80svh;
  width: 80%;
  
  border-radius: 4rem;
  overflow: hidden;
  background-color: $blue;
}

.lo_container {
  flex: 1;
  
  display: flex;
  align-items: center;
  justify-content: center;
}



.lo_board-container {
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
}

.lo_capital-container {
    display: flex;
    gap: 5rem;
}

.lo_board {
  flex: 1;
  display: flex;
  
  background: url("../assets/svgs/backgrouds/patterns/pattern_1.svg") no-repeat;
  background-size: cover;
}

.board {
  flex: 1;
  background: url("../assets/svgs/backgrouds/gradients/gradient_2.svg") no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
}

.lo_board-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4rem;
}

.lo_logo-container img {
  width: 14rem;
}

.lo_text-description {
  display: flex;
  flex-direction: column;

  text-align: center;

  color: white;
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Zona Pro';
}
