@use "../abstracts" as *;

.ma_wrapper {
  height: 100svh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $blue-radial;
}

.ma_container {
  height: 90svh;
  width: 90%;
  
  overflow: hidden;
  // background-color: red;
}

.ma_board-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.ma_sidebar-container {
  padding: 2rem;

}

.ma_sidebar {
  width: 100%;
  height: 100%;

  background-color: yellow;
}

// GRAPHIC
.ma_graphic-container {
  flex: 1;
  padding: 2rem;
}

.ma_graphic-content {
  width: 100%;
  height: 100%;

  background-color: white;
}